*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    background-image: url("./images/pattern-background-desktop.svg");
}

section{
    width: 32.7rem;
    display: flex;
    justify-content: center;
    align-items: column;
}

section>figure{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.info{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

